<nav class="navbar navbar-expand-sm bg-white">
    <div class="container-fluid">
        <!-- Brand/logo -->
          <div class="col-sm-2">
            <a class="navbar-brand" href="index.html">
              <img src="images/logo.svg" alt="CAKI LOGO" style="width:75px;">
            </a>
          </div>

          <div class="col-sm-8">
            <form class="form-inline" action="#/action_page.php">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>

          <div class="col-sm-2">
              <ul class="nav navbar-nav">
                  <li>
                      <a href=""><i class='far fa-calendar-alt' style="font-size:17px; color:rgb(131, 131, 131); margin-right: 25px"></i></a>
                  </li>  
                  <li>
                      <a href=""><i class='far fa-envelope' style='font-size:17px; color:rgb(131, 131, 131); margin-right: 25px'></i></a>
                  </li>
                  <li>
                      <a href=""><i class='far fa-bell' style='font-size:17px; color:rgb(131, 131, 131); margin-right: 25px'></i></a>
                  </li>
                  <li>
                      <a href="login.html"><i class='fas fa-sign-in-alt' style='font-size:17px; color:rgb(131, 131, 131); margin-right: 25px'></i></a>
                  </li>
              </ul>
          </div>
      </div>
</nav>